
/checkpoints

/data

/sim_matrix

/figs

/log


*.log

*.sh 

*.pth

*.jpg

*.og

/logs

/stable_diffusion.egg-info

/__pycache__

/outputs

*.pyc

/models

*.ckpt

/src

/newsd_weight

*.yaml

*.png

*.yaml

*.txt

/data

/others